{include="header"}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-left"><span class="text-capitalize">Guia de Remision</span></th>
                <th class="text-left">Artículo</th>
                <th class="text-right" width="70">Cantidad</th>
                <th class="text-right" width="80">Precio</th>
                <th class="text-right" width="70">Dto %</th>
                <th class="text-right dtosl" style="display: none;" width="70">Dto 2 %</th>
                <th class="text-right dtosl" style="display: none;" width="70">Dto 3 %</th>
                <th class="text-right dtosl" style="display: none;" width="70">Dto 4 %</th>
                <th class="text-right" width="80">Neto</th>
                <th class="text-right" width="70">IVA</th>
                <th class="text-right recargo" style="display: none;" width="70">RE</th>
                <th class="text-right irpf" style="display: none;" width="70">IRPF</th>
                <th class="text-right" width="90">Total</th>
            </tr>
        </thead>
        <tbody id="lineas_documento" data-codigo="">

            <tr id="linea_0" data-ref="" data-line="1">
                <td>

                    -

                </td>
                <td>
                    <a target="_blank" href="index.php?page=ventas_articulos"></a> chispurita 1
                </td>
                <td class="text-right">1</td>
                <td class="text-right">$2 000,00</td>
                <td class="text-right">0,00 %</td>
                <td class="text-right dtosl" style="display: none;">0,00 %</td>
                <td class="text-right dtosl" style="display: none;">0,00 %</td>
                <td class="text-right dtosl" style="display: none;">0,00 %</td>
                <td class="text-right">$2 000,00</td>
                <td class="text-right">12,00 %</td>
                <td class="text-right recargo" style="display: none;">0,00 %</td>
                <td class="text-right irpf" style="display: none;">0,00 %</td>
                <td class="text-right">$2 240,00</td>
            </tr>

            <tr id="linea_1" data-ref="" data-line="2">
                <td>

                    -

                </td>
                <td>
                    <a target="_blank" href="index.php?page=ventas_articulos"></a> chispurita 2
                </td>
                <td class="text-right">20</td>
                <td class="text-right">$3 000,00</td>
                <td class="text-right">0,00 %</td>
                <td class="text-right dtosl" style="display: none;">0,00 %</td>
                <td class="text-right dtosl" style="display: none;">0,00 %</td>
                <td class="text-right dtosl" style="display: none;">0,00 %</td>
                <td class="text-right">$60 000,00</td>
                <td class="text-right">12,00 %</td>
                <td class="text-right recargo" style="display: none;">0,00 %</td>
                <td class="text-right irpf" style="display: none;">0,00 %</td>
                <td class="text-right">$67 200,00</td>
            </tr>

            <tr id="linea_2" data-ref="" data-line="3">
                <td>

                    -

                </td>
                <td>
                    <a target="_blank" href="index.php?page=ventas_articulos"></a> chispurita 3
                </td>
                <td class="text-right">5789</td>
                <td class="text-right">$2,00</td>
                <td class="text-right">0,00 %</td>
                <td class="text-right dtosl" style="display: none;">0,00 %</td>
                <td class="text-right dtosl" style="display: none;">0,00 %</td>
                <td class="text-right dtosl" style="display: none;">0,00 %</td>
                <td class="text-right">$11 578,00</td>
                <td class="text-right">12,00 %</td>
                <td class="text-right recargo" style="display: none;">0,00 %</td>
                <td class="text-right irpf" style="display: none;">0,00 %</td>
                <td class="text-right">$12 967,36</td>
            </tr>

        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-right">Subtotal</th>
                <th class="text-right">IVA.</th>
                <th class="text-right">Total recargo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-right">$73 578,00</td>
                <td class="text-right"></td>
                <td class="text-right"></td>
            </tr>
        </tbody>
    </table>
</div>
{include="footer"}
