{include="header"}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Paso 1:</h1>
            </div>
            <p>Selecciona una factura.</p>
            <a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal_factura_compra">
                <span class="glyphicon glyphicon-search"></span>&nbsp; Selecciona una factura
            </a>
            <div class="page-header">
                <h2>Paso 2:</h2>
            </div>
            <p>Selecciona linea a linea el recargo correpondiente a la misma.</p>
            <div class="page-header">
                <h2>Paso 3:</h2>
            </div>
            <p>Pulsa el botón guardar.</p>
        </div>
    </div>
</div>

<form name="f_select_factura_compra" class="form" action="{$fsc->url}" method="post">
    <div class="modal" id="modal_factura_compra">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-search"></span>
                        &nbsp; Selecciona una factura
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                      <div class="input-group">
                          <input class="form-control" type="text" name="ac_proveedor" id="ac_proveedor" placeholder="Filtro proveedores" autocomplete="off"/>
                          <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit" onclick="">
                                  <span class="glyphicon glyphicon-share-alt"></span>
                              </button>
                          </span>
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                          <select name="factura_seleccionada" class="form-control">
                              {loop="$fsc->resultados"}
                              <option value="{$value->idfactura}">{$value->codigo} - {$value->nombre} - ${$value->total} - {$value->fecha} {$value->hora}</option>
                              {/loop}
                          </select>
                        </div>
                    </div>
                </div>
                <div class="modal-body bg-info">
                    <div class="row">
                      <div class="col-sm-5 text-right">
                          <button class="btn btn-sm btn-primary" type="submit">
                              <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Seleccionar
                          </button>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


{include="footer"}
