{include="header"}
<div class="container-fluid">
  <div class="page-header">
    <h2>Paso 2:</h2>
  </div>
  <p>Selecciona linea a linea el recargo correpondiente a la misma.</p>
  <div class="table-responsive">
    <form name="retenciones" class="form" action="{$fsc->urlRetenciones}" method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-left">  Artículo  </th>
                <th class="text-center">Cantidad </th>
                <th class="text-center">Precio   </th>
                <th class="text-center">Neto     </th>
                <th class="text-center">IVA      </th>
                <th class="text-center">Retención</th>
                <th class="text-center">Total    </th>
            </tr>
        </thead>
        <tbody id="lineas_documento">
          <input type="hidden" name="idFactura" value="{$fsc->factura->idfactura}">
          {loop="$fsc->lineas"}
            <tr id="{$value['idlinea']}" class="linea-factura">
                <td class="text-left descripcion">{$value['descripcion']}</td>
                <td class="text-center cantidad">{$value['cantidad']}   </td>
                <td class="text-center pvpunitario" data-pvpunitario="{$value['pvpunitario']}">${$value['pvpunitario']}</td>
                <td class="text-center pvptotal" data-pvptotal="{$value['pvptotal']}">${$value['pvptotal']}</td>
                <td class="text-center iva" data-iva="{$value['iva']}">{$value['iva']} %</td>
                <td class="text-center">
                  <select id="{$value['idlinea']}-retencion" data-id="{$value['idlinea']}" name="retenciones[{$value['idlinea']}][retencion]" class="form-control retencion">
                    {loop="$fsc->reten"}
                    <option value="{$value['codretencion']}" data-porcentaje="{$value['porcentaje']}">{$value['descripcion']}</option>
                    {/loop}
                  </select>
                </td>
                <td class="text-center total">${$value['pvptotal'] + $value['pvptotal']/100*$value['iva']}</td>
            </tr>
          {/loop}
        </tbody>
    </table>
    <table class="table table-hover">
      <thead>
          <tr>
              <th class="text-left">Sub-Total</th>
              <th class="text-center">Retenciones</th>
              <th class="text-center">Iva</th>
              <th class="text-center">Total</th>
          </tr>
      </thead>
      <tbody>
          <tr id="totales">
              <td class="text-left sub-total"></td>
              <td class="text-center total-retenciones"></td>
              <td class="text-center total-iva"></td>
              <td class="text-center total"></td>
          </tr>
      </tbody>
    </table>
    <div class="col-xs-12 text-right">
      <button class="btn btn-sm btn-primary" type="submit">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
      </button>
    </div>
  </form>
  </div>
</div>
{include="footer"}

<script>
  function calcularTotales(){
    let totalReten = 0;
    let totalIva   = 0;
    let subTotal   = 0;

    $('.linea-factura').each(function(k,e){
      let idLinea    = $(e).attr('id');
      let idSelect   = $('#'+idLinea+' .retencion').attr('id');
      let porReten   = parseFloat($('#'+idSelect+' option:selected').attr('data-porcentaje'));
      let precioTot  = parseFloat($('#'+idLinea+' .pvptotal').attr('data-pvptotal'));
      let iva        = parseFloat($('#'+idLinea+' .iva').attr('data-iva'));

      let total      = precioTot + (precioTot/100*porReten) + (precioTot/100*iva);
      totalReten    += precioTot/100*porReten;
      totalIva      += precioTot/100*iva;
      subTotal      += precioTot;
      $('#'+idLinea+' .total-linea').text('$'+total);
    });

    let sumatoria = totalIva + totalReten + subTotal;
    $('#totales .sub-total').text('$'+subTotal);
    $('#totales .total-retenciones').text('$'+totalReten);
    $('#totales .total-iva').text('$'+totalIva);
    $('#totales .total').text('$'+sumatoria);
  }

  $(document).ready(function(){
      calcularTotales();

      $('.retencion').on('change',function(){calcularTotales();});
  });
</script>
