{include="header"}

<div class="container-fluid" style="margin-bottom: 5px;">
  <div class="row">
      <div class="col-sm-8 col-xs-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
         </div>
         <div class="btn-group">
            <a class="btn btn-sm btn-success" href="index.php?page=retencion_venta">
               <span class="glyphicon glyphicon-plus"></span>
               <span class="hidden-xs">&nbsp;Nueva</span>
            </a>
         </div>
      </div>

      <div class="col-sm-4 col-xs-6 text-right">
      </div>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li{if="$fsc->mostrar=='facturas'"} class="active"{/if}>
     <a hrsef="{$fsc->url()}&mostrar=facturas">
        <span class="text-capitalize hidden-xs">Retenciones (Facturas)</span>
        <span class="visible-xs">Facturas</span>
     </a>
   </li>
</ul>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
           <th class="text-left">Factura</th>
           <th class="text-left">Cliente</th>
           <th class="text-right">Fecha</th>
           <th class="text-right">Total retenciones</th>
           <th class="text-right">Acciones</th>
         </tr>
      </thead>
      <tbody>
        {loop="$fsc->retenciones"}
        <tr>
          <th class="text-left">{$value['codigo']}</th>
          <th class="text-left">{$value['nombre_prov']}</th>
          <th class="text-right">{$value['fecha_emision']}</th>
          <th class="text-right">$ {$value['total_retenido']}</th>
           <th class="text-right">
             <div class="btn-group">
                {if="$fsc->allow_edit"}
                <button class="btn btn-sm btn-primary" title="Editar">
                   <span class="glyphicon glyphicon-pencil"></span>
                </button>
                {/if}
             </div>
           </th>
        </tr>
        {/loop}
      </tbody>
    </table>
  </div>

  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12 text-center">
           <ul class="pagination">
              {loop="$fsc->paginas()"}
              <li{if="$value['actual']"} class="active"{/if}>
                 <a href="{$value['url']}">{$value['num']}</a>
              </li>
              {/loop}
           </ul>
        </div>
     </div>
  </div>
{include="footer"}
